
/* CSS */
body {
    background-color: white;
}

/* Navigasi Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
ul li {
    font-family: sans-serif;
    font-size: 15px;
}
.logo {
    width: 50px;
    height: 50px;
    margin-left: 30px;
}
li {
    display: inline;
    float: right;
    margin-right: 30px;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #f1e52a;
    border-radius: 5px;
}
    
/* Section Konten & Artikel */
h1 {
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 90px;
    margin-top: 60px;
}
h2{
    font-size: 15px;
    font-family: sans-serif;
    margin-left: 90px;
}
.revoU {
    display: block;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.konten p {
    font-size: 15px;
    font-family: sans-serif;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 45px;
    text-align: justify;
}

/* Section Headquarter */
h3 {
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 90px;
    margin-top: 120px;
}
.image {
    display: flex;
    gap: 5rem;
    margin-top: 50px;
    margin-left: 95px;
    
}
.image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

div h1 {
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 90px;
    margin-top: 120px;
}

/* Section Form & Massage */
form {
    margin: 95px;
}

form .nama {
    margin-left: 122px;
}
form .tlahir {
    margin-left: 70px;
    margin-top: 15px;
}
form .jkelamin {
    margin-left: 70px;
    margin-top: 15px;
}

form .pesan {
    margin-left: 122px;
    margin-top: 15px;
}

.button {
    margin-top: 15px;
}

/* Footer */
footer {
    margin-top: 120px;
    margin-bottom: 25px;
    float: right;
    font-size: 15px;
    font-family: sans-serif;
}